<div class="seller-auth">
   <!--SignUp form-->
   <div *ngIf="!showLogin" class="signup">
    <h1>Seller Sign-Up</h1>
    <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
        <input class="form-input" type="text" ngModel name="name" placeholder="Enter username">
        <input class="form-input" type="password" ngModel name="password" placeholder="Enter password">
        <input class="form-input" type="email" ngModel name="email" placeholder="Enter email">
        <button class="form-button">SignUp</button>
        <a class="auth-toggle-link" (click)="openLogin()">Already have Account? Click to Login</a>
    </form>
   </div>

   <!--Login form-->
   <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-p">{{authError}}</p>
    <form class="common-form" #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
        <input class="form-input" type="email" ngModel name="email" placeholder="Enter email">
        <input class="form-input" type="password" ngModel name="password" placeholder="Enter password">
        <button class="form-button">Login</button>
        <a class="auth-toggle-link" (click)="openSignup()">Don't have Account? Click to SignUp</a>
    </form>
   </div>
</div>